
name: Backend CI

on:
  push:
    branches:
      - main

jobs:
  ci:
    name: 'Backend CI'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '11'
          cache: 'gradle'

      - name: Build Backend
        run: make backend-ci