name: Backend CI
on:
  push:
    branches:
      - main
jobs:
  ci:
    name: 'Backend CI'
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: '11'
        cache: 'gradle'
    - name: Backend CI
      run: make backend-ci
