name: UI CI
on:
  push:
    branches:
      - main
jobs:
  ci:
    name: 'UI CI'
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: UI CI
      run: make ui-ci
